.create-event-button {
  width: 20%;
  font-weight: bold;
  padding: 10px 10px;
  margin: 20px 20px;
  background-color: rgb(255, 77, 216);
  border-radius: 20px;
}
.create-event-button:hover {
  box-shadow: 0px 5px 10px rgba(116, 116, 116, 0.4);
  transition: all 0.1s ease-in;
}
