.whole-gallery {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.galleryandbox {
  width: 55%;
  height: 100vh;
  overflow: hidden;
}
.eventgallery {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 1200px;
  overflow-y: scroll;
}

.eventgallery::-webkit-scrollbar {
  display: none;
}

.event-gallery-align {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.search-box-container {
  width: 70%;
  margin: 20px auto;
  font-size: 12px;
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.856);
  box-shadow: 5px 5px 5px grey;
}

.searchbox {
  width: 80%;
  max-width: 600px;
  height: 30px;
  margin: 10px auto;
  font-size: 15px;
  border-radius: 15px;
  border: 0px white;
  box-shadow: 6git px 5px grey;
}

h3:hover {
  color: orange;
}
