.fullDisplayCard {
  align-items: center;
  width: 60%;
  min-width: 400px;
  font-size: 18px;
  padding: 0.25em;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 5px 10px rgba(116, 116, 116, 0.4);
}

.fullDisplayCard:hover {
  box-shadow: 2px 5px 10px rgb(104, 104, 104);
  transition: all 0.5s ease-in-out;
}

.fullDisplayCard img {
  display: inline-block;
  text-align: center;
  width: 50%;
  max-width: 200px;
  object-fit: scale-down;
  margin-top: 30px;
  margin-bottom: 0px;
}
.fullDisplayTextContainer {
  text-align: center;
}

.fullDisplayButton {
  margin-bottom: 20px;
  font-weight: bold;
  padding: 15px 70px;
  background-color: rgb(255, 133, 34);
  border-radius: 20px;
}
.fullDisplayButton:hover {
  box-shadow: 0px 5px 10px rgba(116, 116, 116, 0.4);
  transition: all 0.5s ease-in;
}
.fullDisplayDescription {
  margin: auto;
  width: 90%;
}