.Header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 3px 0px 0px rgba(116, 116, 116, 0.4);
  position: static;
  background-image: linear-gradient(to bottom, #fdfbfb, #ebedee);
  margin-bottom: 20px;
}
.Header a {
  color: #f7f7f7;
  text-decoration: none;
}

.Header ul {
  font-size: 18px;
  color: #f7f7f7;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.Header ul a {
  position: relative;
  display: inline-block;
}

.Header ul:hover {
  color: #f7f7f7;
}

.Header ul li {
  display: none;
  text-align: left;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
  z-index: 1;
  text-decoration: none;
}

.Header ul li a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.Header ul:hover li {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.create-event-button {
  margin-left: 20px;
  font-weight: bold;
  padding: 10px 0px;
  min-width: 130px;
  background-image: linear-gradient(to top right, #ff9966, #ff5e62);
  border-radius: 20px;
}
.create-event-button:hover {
  box-shadow: 0px 5px 10px rgba(116, 116, 116, 0.4);
  transition: all 0.5s ease-in;
}

.brandLogo {
  margin-right: 40px;
}

.divAlign {
  display: flex;
  align-items: center;
}
