.Home-align {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-border {
  width: 80%;
  max-width: 500px;
  margin: 50px;
  padding: 100px 10px;
  background-color: #f7f7f7;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 10px;
}

