.login-card {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(116, 116, 116, 0.4);
  font-size: 18px;
}

.login-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}