.map {
  margin-left: 500px;
  width: 50%;
  height: 60vh;
  box-shadow: 2px 5px 10px #e0e0e0;
}

.map:hover{
  box-shadow: 2px 5px 10px rgb(104, 104, 104);
  transition: all 0.5s ease-in-out;
}
.marker {
  transition: all ease-in 0.2s;
}

h4 {
  display: inline-block;
  width: 60%;
}
