.card {
  width: 45%;
  font-size: 20px;
  padding: 0.25em;
  margin: 20px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.856);
  border: 0.5px, solid, rgb(160, 160, 160);
  animation: ease-in-out 2s linear;
  
}
.card img {
  width: 30%;
  min-width: 300px;
  padding: 30px;
  object-fit: scale-down;
}

.description {
  text-align: center;
  padding: 0.25rem;
  margin: 60px 30px;
}

.button {
  width: 20%;
  font-weight: bold;
  padding: 10px 10px;
  margin: 20px 20px;
  background-color: rgb(255, 133, 34);
  border-radius: 20px;
}
.button:hover {
  box-shadow: 0px 5px 10px rgba(116, 116, 116, 0.4);
  transition: all 0.1s ease-in;
}
