.App {
  text-align: center;
  font-family: lato;
  font-weight: lighter;
}

:root {
  background-color:#4ABDAC;
  /* background-image: url("https://img.freepik.com/free-vector/abstract-paper-hexagon-white-background_51543-7.jpg?size=626&ext=jpg"); */
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: 80%;
  /* animation: backgroundMove 100%, ease-in-out infinite; */
}

.header {
  background-color: rgb(54, 192, 211);
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header img {
  height: 80px;
}

.gif {
  position: fixed;
}
