.App {
  text-align: center;
  font-family: lato;
  font-weight: lighter;
}

:root {
  background-image: linear-gradient(to top right,#ff9966  ,#ff5e62);
  background-position-x: 0px;
  background-position-y: 0px;
  /* animation: backgroundMove 100%, ease-in-out infinite; */
}

.header {
  background-color: rgb(54, 192, 211);
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header img {
  height: 80px;
}

